{% include "header.html" %}
    <header>
        <div id="intro" class="jumbotron d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="card-deck">
                            <div class="card bg-light text-center">
                                <h5 class="card-title">Cel aplikacji</h5>
                                <div class="card-body text-center">
                                    <p class="card-text">Sum text<br> tu będą linki do tych całych<br>
                                    stron co ona chce</p>
                                </div>
                            </div>
                            <div class="card bg-light text-center">
                                <h5 class="card-title">Opis działania</h5>
                                <div class="card-body text-center">
                                    <p class="card-text">Sum text<br> tu będą linki do tych całych<br>
                                    stron co ona chce</p>
                                </div>
                            </div>
                            <div class="card bg-light text-center">
                                <h5 class="card-title">Zastosowane biblioteki</h5>
                                <div class="card-body text-center">
                                    <p class="card-text">Sum text<br> tu będą linki do tych całych<br>
                                    stron co ona chce</p>
                                </div>
                            </div>
                            <div class="card bg-light text-center">
                                <h5 class="card-title">Zastosowane podejścia</h5>
                                <div class="card-body text-center">
                                    <p class="card-text">Sum text<br> tu będą linki do tych całych<br>
                                    stron co ona chce</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% include "footer.html" %}