{% extends 'base.html'%}

{% block header %}
    <div class="row">
        <div class="col-lg-6">
            <h3>{% block title %}{{ name }}{% endblock %}</h3>
        </div>
            <div class="col-sm-6">
                <div class="row">
                    <select name="column" id="column">
                        <option value="" disabled selected>---</option>
                        <option value="opinion_id">id opinii</option>
                        <option value="author">autor</option>
                        <option value="content">treść</option>
                        <option value="stars">ocena</option>
                        <option value="useful">przydatne</option>
                        <option value="useless">nieprzydatne</option>
                        <option value="date_of_issue">data wystawienia</option>
                        <option value="purchased">zakup</option>
                        <option value="date_of_purchase">data zakupu</option>
                        <option value="pros">zalety</option>
                        <option value="cons">wady</option>
                        <option value="recommendation">rekomendacja</option>
                    </select>
                    <select name="operator" id="operator" style='display: none'>
                        <option value="" disabled selected>---</option>
                        <option value="=">=</option>
                        <option value=">">></option>
                        <option value=">=">=></option>
                        <option value="<"><</option>
                        <option value="<="><=</option>
{#                        <option value="range">zakres</option>#}
                    </select>
                    <input type="text" name="query" id="query" class="col-sm-6">
                </div>
            </div>
    </div>
{% endblock %}

{% block content %}
<!--    table with scratched opinions -->
    <div class="table-div container-fluid">
        {{ table | safe}}
    </div>
    <a href="{{ url_for('products.json_file', id=id) }}">
        <button class="btn btn-dark mt-2" type="button">Pobierz JSON</button>
    </a>
    <a href="{{ url_for('products.diagrams', id=id) }}">
        <button class="btn btn-dark mt-2" type="submit" name="diagrams">Wykresy</button>
    </a>

    <a href="{{ url_for('products.product', id=id) }}">
        <button class="btn btn-dark mt-2" type="submit" name="diagrams">Resetuj</button>
    </a>
{% endblock%}
{% block scripts %}
    <script src="{{ url_for('static', filename='js/Filtering.js') }}"></script>
    <script>

        $(function(){
            const dict = {
                opinion_id : 0,
                author: 1,
                content: 2,
                stars: 3,
                useful: 4,
                useless: 5,
                date_of_issue: 6,
                purchased: 7,
                date_of_purchase: 8,
                pros: 9,
                cons: 10,
                recommendation: 11,
            };
            const numericalColumns = [3, 4, 5];
            const operator = document.getElementById('operator');
            let index;
            $('#column').change(function(){
                index = dict[$(this).val()];
                if (numericalColumns.includes(index)) {
                    operator.style.display = '';
                } else {
                    operator.style.display = 'none';
                }
            });

            $('#query').keyup(function(){
                if (numericalColumns.includes(index)) {
                    filter.filterNumerical(index);
                } else {
                    filter.searchForOccurrence(index);
                }
            });

            const filter = new Filtering('opinions', 'query', dict);

        });
    </script>
{% endblock %}
