html,
body,
header,
#intro {
    height: 100%;
    overflow: hidden;
}

#intro {
    background: url('../images/7bfa3409803180.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
 }
#mainNav {
    background-color: rgb(235, 148, 34);
}
li.nav-item.nav-link {
    padding: 0;
}
li.nav-item.nav-link a.nav-link {
    color: white;
}
